<nav class="bg-white border-gray-200 px-2 py-2">
  <div class="container mx-auto flex flex-wrap items-center justify-between">
    <a href="{% url 'index' %}" class="flex">
      <svg class="h-10 mr-3" width="51" height="70" fill="none"" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:svg="http://www.w3.org/2000/svg" id="svg4046" viewBox="0 0 66.4 81.363" version="1.0">
        <g id="layer1" transform="translate(-372.51 -568.82)">
          <g id="g4036" stroke-linejoin="round" transform="translate(-10.975 39.978)">
            <path id="path4008" d="m388.15 530.07c-3.73 0.72-3.29 2.41-3.66 3.91l1.77 71.54c-0.08 2.18 0.46 3.79 3.02 3.53l54.52 0.16c1.88-0.31 3.43-1.07 3.56-3.82l1.53-72.41c-0.18-3.22-2.16-3.1-4.06-3.13l-56.68 0.22z" stroke="#000" stroke-linecap="round" stroke-width="2" fill="none"/>
            <path id="path4010" stroke="#000" fill-opacity=".99219" fill="#fff" d="m392.76 545.62v12.29l11.91-0.49 1.04-11.31-12.95-0.49z"/>
            <path id="path4012" stroke="#000" fill-opacity=".99219" fill="#fff" d="m410.63 554.23l31.81-0.42"/>
            <path id="path4016" stroke="#000" fill-opacity=".99219" fill="#fff" d="m409.32 571.7h31.8"/>
            <path id="path4020" stroke="#000" fill-opacity=".99219" fill="#fff" d="m409.92 589.7l31.71 0.3"/>
            <path id="path4030" stroke="#f00" fill-opacity=".99219" fill="#f00" d="m396.46 549.43l-1.23 1.02 3.54 4.28 10.75-9.48-1.85-1.91-8.67 8.64-2.54-2.55z"/>
            <path id="path4032" stroke="#000" fill-opacity=".99219" fill="#fff" d="m392.89 563.1v12.29l11.92-0.49 1.03-11.3-12.95-0.5z"/>
            <path id="path4034" stroke="#000" fill-opacity=".99219" fill="#fff" d="m393.39 581.54v12.29l11.92-0.49 1.04-11.31-12.96-0.49z"/>
          </g>
        </g>
      </svg>
        <span class="self-center text-lg font-semibold whitespace-nowrap">Todo</span>
    </a>
    <div class="hidden md:block w-full md:w-auto" id="mobile-menu"></div>
    <ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
      <li>
        <a class="bg-blue-700 md:bg-transparent text-white block pl-3 pr-4 py-2 md:text-blue-700 md:p-0 rounded" aria-current="page" href="{% url 'index' %}">Home</a>
      </li>
      {% if user.is_authenticated %}
      <li>
        <a class="bg-blue-700 md:bg-transparent text-white block pl-3 pr-4 py-2 md:text-blue-700 md:p-0 rounded" aria-current="page" href="{% url 'todo-list' %}">My lists</a>
      </li>
      <li>
        <a class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0" href="{% url 'logout' %}">Logout</a>
      </li>
      {% else %}
      <li>
        <a class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0" href="{% url 'login' %}">Login</a>
      </li>
      <li>
        <a class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-blue-700 md:p-0" href="{% url 'register' %}">Sign up</a>
      </li>
      {% endif %}
    </ul>
  </div>
  </div>
  </nav>
<hr>
    