{% if lists %}
    <ul class="list-group col-4">
    {% for list in lists %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            {{ list.name }}
            {{ list.date_added|date:"d-m-y" }}
            <span class="badge badge-danger badge-pill"
                style="cursor: pointer;"
                hx-delete="{% url 'delete-list' list.pk %}"
                hx-target="#todo-list"
                hx-confirm="Are you sure you wish to delete?">X</span>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>You do not have any todo lists, why not add one?</p>
{% endif %}