{% extends 'base.html' %}

{% block content %}
<div class="align-center col-10 offset-1">
    <div class="flex mb-4">
        <div class="w-1/2 bg-gray-400 h-12">
        <p class="lead ml-0">My Todo Lists</p>
        </div>
        <div class="w-1/2 bg-gray-400 h-12"></div>
        <form hx-post="{% url 'add-list' %}" hx-target='#todo-list' class="w-full max-w-sm">
            <div class="flex items-center border-b border-teal-500 py-2">
            {% csrf_token %}
            <input type="text" name="listname" class="form-control-sm mr-2" placeholder="Add a new list" />
            <button type="submit" class="flex-shrink-0 bg-teal-500 hover:bg-teal-700 border-teal-500 hover:border-teal-700 text-sm border-4 text-white py-1 px-2 rounded">Create new list</button>
            </div>
        </form>
        </div>
    </div>
    <hr/>
    
    <div id="todo-list">
        {% include 'partials/todo-list.html' %}
    </div>
</div>
{% endblock content %}